@font-face {
    font-family: "AkzidenzExtended";
    src: url("AkzidenzGrotesk-Extended.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Reset alles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #FDFBFB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "AkzidenzExtended", sans-serif;
}

.logo-3d {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100px;
  height: 100px;
  z-index: 2000;
  pointer-events: none;
}

@media (max-width: 600px) {
.logo-3d {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  z-index: 2000;
  pointer-events: none;
}
}


.hero {
  padding: clamp(120px, 8vw, 120px) 20px clamp(20px, 4vw, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 0%);
  width: min(90%, 1000px);   /* 👈 hier */
}

.title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: #161616;
  text-align: center;

}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #7F7F7F;
  text-align: center;

}

.pill-title {
  font-size: clamp(1.2rem, 2vw, 1rem);
  text-transform: uppercase;
}

.socials {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.socials a {
  font-family: "AkzidenzExtended", sans-serif;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 1.5vw, 0.9rem);
  color: #161616;
  opacity: 0.6;
  text-decoration: none;
}

.socials a:hover {
  opacity: 1;
}

.stage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar-inner {
  flex: 1;
  height: 50px;
  border-radius: 30px;
  background: #161616;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  overflow: hidden;
}

.plus-button {
  position: absolute;
  top: 55%; 
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #161616;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.plus-icon {
  width: 30px;
  height: 30px;
  stroke: #FDFBFB;
  stroke-width: 2;
}


.marquee {
  width: 100%;
  overflow: hidden;
}

.bar {
  display: flex;
  align-items: center;
  gap: 20px;
  width: max-content;
  /* animation: marquee 30s linear infinite; */
}

/*
.marquee:hover .bar {
  animation-play-state: paused;
}
*/

.bar-inner {
  flex: 0 0 34%;
  height: clamp(50px, 6vw, 60px);

  border-radius: 999px;
  background: #161616;
  color: #FDFBFB;

  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-socials {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
}

.footer-socials .socials {
  display: flex;
  gap: 20px;
}

.footer-socials a {
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #161616;
  opacity: 0.6;
  text-decoration: none;
}

.footer-socials a:hover {
  opacity: 1;
}

.mobile-break {
  display: none;
}

.info {
  position: absolute;
  inset: 0;
  padding: 30px 40px;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #FDFBFB;
}

.project-title {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.code-lang {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.code-lang span {
  background: #D9D9D9;
  color: #111;
  font-size: 0.8rem;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: 500;
}

.context {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 650px;
}

.context h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.context p {
  font-size: .9rem;
  line-height: 1.6;
  color: #DADADA;
}

.more-btn {
  background: #FDFBFB;
  color: #111;
  border: none;
  padding: 10px 24px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.more-btn:hover {
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .mobile-break {
    display: block;
  }
}


@media (max-width: 1025px) {
  .bar-inner {
    flex: 0 0 21%;
  }
  .hero {
  padding: clamp(120px, 8vw, 130px) 20px clamp(20px, 4vw, 40px);
  }
}

@media (max-width: 600px) {
  .bar-inner {
    flex: 0 0 14%;
  }
  .bar {
    animation-duration: 16s;
  }
  .hero {
      padding: clamp(80px, 8vw, 80px) 20px clamp(20px, 4vw, 40px);
  }
  .footer-socials {
    right: 20px;
    bottom: 20px;
  }
  .plus-button {
    right: 15px;
  }
}

/*
@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(calc(-50% - 10px)); }
}

*/